@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Poppins',sans-serif;
}
h2{
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
}
h3{
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.container{
    max-width: 480px;
    margin-inline: auto;
    padding-inline: 20px;
}
.flex{
    display: flex;
    align-items: center;
}

.p{
    font-size: 1.2rem;
}
#font-white{
    color: #fff;
}

/* navbar */
nav{
    position: relative;
}
.nav-container{
    background-color: #424245;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}
#nav-links{
    position: absolute;
    font-family: 'Poppins',sans-serif;
    color: rgb(216, 214, 214);
    background-color: #424245;
    font-size: 1.2rem;
    text-align: left;
    left: 0;
    right: 0;
    top: -100vh;
    width: 100vw;
    z-index: 2;
    transition: 0.2s ease-out;
}
#nav-links ul{
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    padding: 20px;
}
#nav-links.active{ /*  this hamburger function is done with javascrpit */
    top: 100%;
    left: 0;
    right: 0;
}


.logo-part{
    display: flex;
    justify-content: center;
}
.logo-part img{
    filter: invert();
}
.right-part img{
    filter: invert();
    padding-left: 33px;
}
.sub-heading{
    padding-top: 50px;
    background-color: #e8e8ed;
}
.sub-heading p{
    text-align: center;
    padding-inline: 15px;
    padding-block: 13px;
    font-family: 'Roboto',sans-serif;
}
hr{
    background-color: rgb(255, 255, 255);
    height: 2.4vh;
    border: none;
}
/* hero section  */

.hero{
    background-image: url(./assets/ted-lasso.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.image-container{
    padding-top: 77vh;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    gap: 5px;
    position: relative;
    top: 63px;
}
.image-container img{
    width: 20%;
}
.image-container img:nth-child(1){
    width: 120px;
    margin-top: 60px;
}
.big-products-section{
    padding-block: 15px;
    flex-direction: column;
    margin-block: 21px;
}
.stream-now{
    margin-top: 10px;
    background-color: white;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 18px;
    line-height: 1.33337;
    outline: none;
    border: none;
    font-family: 'Poppins',sans-serif;
}

/* big-products section  */

.iphone-14{
    height: 70vh;
    background-image: url(./assets/asset\ 4.jpeg);
    background-position: center;
    background-size: 400vw;
    background-repeat: no-repeat;
    padding-bottom: 75vh;
    margin-bottom: 10px;
}
.product-desc{
    flex-direction: column;
    margin-top: 5px;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}
.learn-buy a{
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    color: #0066cc;
    padding-inline: 10px;
}


.iphone-14-Pro{
    padding-top: 51px;
    height: 66vh;
    background-image: url(./assets/asset\ 5.jpeg);
    background-position: bottom;
    background-size: 273%;
    background-repeat: no-repeat;
    background-color: black;
}
.watch-series{
    padding-top: 40px;
    height: 80vh;
    background-image: url(./assets/asset\ 7.jpeg);
    background-position: bottom;
    background-size: 231%;
    background-repeat: no-repeat;
    background-color: black;
}
.ipad{
    height: 80vh;
    background-image: url(./assets/asset\ 8.jpeg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 18px;
}
.mac-book{
    background-image: url(./assets/asset\ 9.jpeg);
    height: 86vh;
    background-position: bottom;
    background-size: 156vh;
    background-repeat: no-repeat;
    padding-top: 31px;
    background-color: black;
}
.watch-ultra{
    height: 60vh;
    background-image: url(./assets/asset\ 11.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}
.watch-ultra img{
    margin-bottom: 5px;
}
.homepod{
    background-image: url(./assets/asset\ 12.jpeg);
    height: 86vh;
    background-position: bottom;
    background-size: 156vh;
    background-repeat: no-repeat;
    padding-top: 31px;
    background-color: black;
}
.airpods{
    background-image: url(./assets/asset\ 13.jpeg);
    height: 86vh;
    background-position: bottom;
    background-size: 156vh;
    background-repeat: no-repeat;
    padding-top: 31px;
    background-color: black;
}
.sub-footer{
    text-align: left;
    background-color: #e8e8ed;
    padding-block: 10px;
    margin-block: -23px;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
}
.info{
    text-align: center;
    padding-block: 13px;
}
